modules = ["nodejs-20", "web", "postgresql-16", "python-3.11"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["gitFull", "glibcLocales", "playwright-driver"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5904
externalPort = 3000

[env]
PORT = "5000"

[agent]
integrations = ["javascript_database:1.0.0", "javascript_log_in_with_replit:1.0.0", "javascript_openai:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
META_ACCESS_TOKEN = "EAANiEbz20ScBRQzwN75qepQ756Gu6mIMAdEylNHsSs77JS8zAYodejroMifJbjld11XETtOG99W8W8sjuUoAwLAshcAsYT17sytHiZBKr9hRnyGbtjtbMY4kZCmrr5wZC7HKx1zy22ZAQ5wAQaUiaMtnCQ5jTTB5v53oelWr8C913dgD4FSM6sOwmA1mTkdb"
META_AD_ACCOUNT_ID = "act_1224818999387790"
AFTEROFFERS_USERNAME = "mike.debutte@modemobile.com"
AFTEROFFERS_PASSWORD = "rwFRUkpLt4KvQPm8"
INTERACTIVE_OFFERS_USERNAME = "affiliate@modemobile.com"
INTERACTIVE_OFFERS_PASSWORD = "phw9xzp2xqk_xth_ZEQ"
ZENECT_USERNAME = "mike.debutte@modemobile.com"
ZENECT_PASSWORD = "Canada1#"
IMS_USERNAME = "MODemObILe"
IMS_PASSWORD = "8xh!Gz8p"
